.contendor-DetalleCarro{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 15px;
}

.contendor-DetalleCarro .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contendor-DetalleCaro h1{
    margin: 10px;
    font-size: 22px;
}