.Contenedor-FormCrearCarro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contenedor-FormCrearCarro form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
    padding: 10px;
}

.Imagenes-FormCrearCarro{
    display: flex;
    gap: 10px;
    justify-content: center;

}

.Imagenes-FormCrearCarro img{
    width: 300px;
    border-radius: 14px;
}